<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="d1">
        <div class="container">
            <span elm="vn" class="vn-mpgh">
                <i class="fas fa-truck"></i>
                <span class="arrow">&nbsp;</span>
                Miễn phí giao hàng
            </span>
            <span elm="vn" class="vn-ts">
                <i class='fas fa-swatchbook'></i>
                <span class="arrow">&nbsp;</span>
                80.000 tựa sách
            </span>
            <span elm="vn" class="vn-read">
                <i class="fa fa-mobile-phone" style="font-size:23px;margin-left:10px"></i>
                <span class="arrow">&nbsp;</span>
                Vinabook Reader
            </span>
        </div>
    </div>
    <div class="d2">
        <div class="container">
            <div class="vn-mpgh-content">
                <strong>Miễn phí giao hàng toàn quốc</strong>
                cho Đơn hàng từ 250.000đ.
            </div>
            <div class="vn-ts-content">
                Với hơn 80,000 đầu sách trong mọi lĩnh vực (và tiếp tục tăng mỗi ngày), Vinabook.com tự hào là nhà sách trên mạng có số lượng đầu sách lớn nhất Việt Nam, bạn có thể tìm được bất kỳ quyển sách nào cho mọi nhu cầu đọc sách của bạn.
            </div>
            <div class="vn-read-content">
                Hơn 10,000 tựa sách và tạp chí trong thư viện sách khổng lồ của Vinabook Reader mọi lúc mọi nơi chỉ từ 825đ/ngày
            </div>

        </div>
    </div>
    <div class="d3">
        <div class="container">
            <div class="Content-main">
                <span>
                    <img src="~/picture/vnb_logo_2x.png" style="padding-top: 5%;" />
                </span>
                <span>
                    <div class="input-group">
                        <i class="fa fa-search" style="font-size:25px; border-top:1px solid gray;border-bottom:1px solid gray;border-left:1px solid gray;  border-radius:30px 1px 1px 30px;padding-top:5px;padding-left:10px;background-color:#c7c7c7;color:darkgrey"></i>
                        <input type="text" id="gr-ip" class="form-control" placeholder="Tìm kiếm tựa sách , tác giả " style="border-top:1px solid gray;border-bottom:1px solid black;border-right:0px solid white;border-left:0px solid white;z-index:1;background-color:#c7c7c7" />
                        <span>
                            <button type="button" class="btn btn-success" style="z-index:10;border-radius:1px 30px 30px 1px">Tìm kiếm</button>
                        </span>
                    </div>
                </span>
                <span>
                    <div class="icon-gio-hang">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </span>
                <span>
                    <div class="dangki-dangnhap">
                        <span class="dangnhap">Đăng Nhập </span>
                        <span class="dangki">Đăng ký</span>
                    </div>
                </span>
            </div>

        </div>

    </div>
    <div class="d4">
        <div class="container">
            <div class="icon-menu">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </div>
        <span>
            <div class="content-danhmuc">
                Danh Mục Sách
            </div>
            <div class="dorpdown">
                <i class="fas fa-angle-down"></i>
            </div>
        </span>
        <div class="content-d3">
            <span>
                <div class="conten-phone">
                    <i class="fa fa-phone " style="font-size:20px;width:16px;"></i>
                    <span> Hotline: 1900 6401</span>
                </div>
            </span>
            <span>
                <div class="conten-hotro">
                    <i class='fas fa-comments'></i>
                    <span>
                        <a href="# target="_blank" style="color:white">Hỗ trợ trực tuyến</a>
                    </span>
                </div>
            </span>
        </div>
    </div>
    <div class="d5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="dropdown">
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Sách Bán Chạy <span><i class="fas fa-angle-right " style="position: absolute;font-size: 22px;left: 95%;"></i></span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Sách Mới Phát Hành <span><i class="fas fa-angle-right " style="position: absolute;font-size: 22px;left: 95%"></i></span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Sách Sắp Phát Hành <span><i class="fas fa-angle-right " style="position: absolute;font-size: 22px;left: 95%"></i></span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Sách Ngoại Văn<span><i class="fas fa-angle-right " style="position: absolute;font-size: 22px;left: 95%"></i></span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Sách Blockchain<span><i class="fas fa-angle-right " style="position: absolute;font-size: 22px;left: 95%"></i></span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Sách Kinh Tế<span><i class="fas fa-angle-right " style="position: absolute;font-size: 22px;left: 95%"></i></span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"> Sách Văn Học Trong Nước<span><i class="fas fa-angle-right " style="position: absolute;font-size: 22px;left: 95%"></i></span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"> Sách Văn Học Nước Ngoài<span><i class="fas fa-angle-right " style="position: absolute;font-size: 22px;left: 95%"></i></span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Sách Thường Thức - Đời Sống<span><i class="fas fa-angle-right " style="position: absolute;font-size: 22px;left: 95%"></i></span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"> Sách Thiếu nhi<span><i class="fas fa-angle-right " style="position: absolute;font-size: 22px;left: 95%"></i></span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"> Sách Phát Triển Bản Thân<span><i class="fas fa-angle-right " style="position: absolute;font-size: 22px;left: 95%"></i></span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"> Sách Tin Học - Ngoại Ngữ<span><i class="fas fa-angle-right " style="position: absolute;font-size: 22px;left: 95%"></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="banner-all">
                            <div class="big-banner">
                                <div class="col-md-6">
                                    <img src="~/picture/361437_image20200910t030157126z.jpg" style="width: 153%;border: 1px solid white;" />
                                </div>
                                <div id="picture-content" class="col-md-3">
                                    <img src="~/picture/358699_vinabook1.jpg" style="width: 165%;border: 1px solid white;" />
                                    <img src="~/picture/357767_nghgiu.jpg" style="width: 165%;border: 1px solid white;" />
                                </div>
                            </div>
                            <div class="small-banner">
                                <img src="~/picture/360539_image20200818t065256023z.jpg" style="width: 302px;height: 182px;border: 1px solid white;" />
                                <img src="~/picture/358703_vinabook4.jpg" style="width: 302px;height: 182px;border: 1px solid white;" />
                                <img src="~/picture/359008_vinabook2.jpg" style="width: 305px;height: 182px;border: 1px solid white;" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <
        </div>
    </div>
    <div class="d6">
        <div class="container">
            <div class="mainbox-title">
                <span style="font-size: 20px;font-weight: 500;position: absolute;top: -25%;">
                    Tác Giả Nổi Bật
                </span>
                <div class="book-tac-gia">
                    <div class="anh-tac-gia">
                        <img src="~/picture/360353_129910542144506789460598800290180602601678n1.jpg" style="width: 209px;padding-left: 20px;padding-top: 50px;padding-bottom: 49px;" />
                    </div>
                    <div class="title-tac-gia">
                        <a href="http://www.vinabook.com/tac-gia/nguyen-phong-i12968" title="Nguyên Phong"> Nguyên Phong</a>
                    </div>
                    <div class="text-info-tac-gia">
                        Nguyên Phong tên thật là Vũ Văn Du, sinh năm 1950 tại Hà Nội. Năm 1968, ông rời khỏi Việt Nam, sang Hoa Kỳ du học hai nghành Sinh vật học và Điện toán, sau đó ông sống và làm việc tại Hoa Kỳ cho đến nay.Bên cạnh vai trò là một nhà khoa học, Nguyên Phong còn là dịch giả của hàng loạt sách về văn hóa và tâm linh phương Đông rất nổi tiếng. Trong số đó, có thể kể đến: Hành Trình Về Phương Đông, Ngọc Sáng Trong Hoa Sen, Bên Rặng Tuyết Sơn, Hoa Sen Trên Tuyết, Hoa Trôi Trên Sóng Nước, Trở Về Từ Xứ Tuyết, Minh Triết Trong Đời Sống Ăn Uống, Đường Mây Qua Xứ Tuyết…
                        <a href="https://www.vinabook.com/tac-gia/nguyen-phong-i12968" title="Nguyên Phong">Xem thêm</a>
                    </div>
                    <hr />
                    <div class="book-quyen-sach">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="~/picture/360356_combo-sach-minh-triet-cua-dich-gia-nguyen-phong-bo-14-cuon.jpg" style="width: 38%;height: 72%;" />
                                <a href="https://www.vinabook.com/combo-sach-minh-triet-cua-dich-gia-nguyen-phong-bo-14-cuon-p91724.html">
                                    Combo Sách Minh Triết Của Dịch Giả Nguyên...
                                </a>
                            </div>
                            <div class="col-md-4">
                                <img src="~/picture/358867_hanh-trinh-ve-phuong-dong-sach-bo-tui-tai-ban-2020.jpg" style="width: 38%;height: 72%;" />
                                <a href="https://www.vinabook.com/hanh-trinh-ve-phuong-dong-sach-bo-tui-tai-ban-2020-1-p91342.html">
                                    Hành Trình Về Phương Đông (Sách Bỏ Túi)...
                                </a>
                            </div>
                            <div class="col-md-4">
                                <img src="~/picture/358458_duong-may-tren-dat-hoa.jpg" style="width: 38%;height: 72%;" />
                                <a href="https://www.vinabook.com/duong-may-tren-dat-hoa-p91263.html">
                                    Đường Mây Trên Đất Hoa
                                </a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="mainbox-sachbanchay">
                <span style="font-size: 20px;font-weight: 500;position: absolute;top: -10%;">Sách Bán Chạy </span>
                <div class="mainbox-sachbanchay-content">
                    <div class="row">
                        <div id="col-content" class="col-md-4">
                            <div class="card" style="width:283px;height:218px">
                                <img class="card-img-top" src="~/picture/361208_mat-troi-luc-nua-dem.jpg" alt="Card image" style="width:92px;height:152px;margin-left: 5%;">
                                <div class="card-body">
                                    <h6 class="card-title">
                                        <a href=" https://www.vinabook.com/mat-troi-luc-nua-dem-1-p92078.html
                        " class="product-title" title="Mặt Trời Lúc Nửa Đêm" id="product-title" style="color:black;font-weight:500;">
                                            Mặt Trời Lúc Nửa Đêm
                                        </a>
                                    </h6>
                                    <p class="card-text" id="product-title" style="color:gray;border-bottom: 1px solid;padding-bottom: 20px;font-size:13px">Stephanie Meyer</p>

                                </div>
                                <div class="key-money">
                                    224.000 đ
                                </div>
                            </div>
                        </div>
                        <div id="col-content" class="col-md-4">
                            <div class="card" style="width:283px;height:218px">
                                <img class="card-img-top" src="~/picture/360992_coi-nguon-lich-su-vi-dai-cua-van-vat.jpg" alt="Card image" style="width:92px;height:152px;margin-left: 5%;">
                                <div class="card-body">
                                    <h6 class="card-title">
                                        <a href=" https://www.vinabook.com/mat-troi-luc-nua-dem-1-p92078.html
                        " class="product-title" id="product-title" title="Mặt Trời Lúc Nửa Đêm" style="color:black;font-weight:500;">
                                            Cội nguồn - Lịch sử vĩ đại của vạn vật
                                        </a>
                                    </h6>
                                    <p class="card-text" id="product-title" style="color:gray;border-bottom: 1px solid;padding-bottom: 20px;font-size:13px">David Christian</p>
                                    <p class="card-text" style="font-size:13px">
                                        Đây không phải một cuốn sách vật lý vũ trụ.Đây không phải một cuốn sách sinh...
                                    </p>
                                </div>
                                <div class="key-money">
                                    186.000 đ
                                </div>
                            </div>
                        </div>
                        <div id="col-content" class="col-md-4">
                            <div class="card" style="width:283px;height:218px">
                                <img class="card-img-top" src="~/picture/360893_adolf-hitler-chan-dung-mot-trum-phat-xit-tai-ban-2020-bia-cung.jpg" alt="Card image" style="width:92px;height:152px;margin-left: 5%;">
                                <div class="card-body">
                                    <h6 class="card-title">
                                        <a href=" https://www.vinabook.com/mat-troi-luc-nua-dem-1-p92078.html
                        " class="product-title" id="product-title" title="Mặt Trời Lúc Nửa Đêm" style="color:black;font-weight:500;">
                                            Adolf Hitler - Chân Dung Một Trùm Phát Xít (Tái Bản 2020) (Bìa Cứng)
                                        </a>
                                    </h6>
                                    <p class="card-text" id="product-title" style="color:gray;border-bottom: 1px solid;padding-bottom: 20px;font-size:13px">John Toland</p>
                                    <p class="card-text" style="font-size:13px">
                                        Adolf Hitler – Chân dung một trùm phát xít là tác phẩm đồ sộ và chi tiết bậc...
                                    </p>
                                </div>
                                <div class="key-money">
                                    329.000 đ
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 3%;">
                        <div id="col-content" class="col-md-4">
                            <div class="card" style="width:283px;height:218px">
                                <img class="card-img-top" src="~/picture/359194_bi-quyet-bam-huyet-chua-benh-bia-cung-tai-ban-2020.jpg" alt="Card image" style="width:92px;height:152px;margin-left: 5%;">
                                <div class="card-body">
                                    <h6 class="card-title">
                                        <a href=" https://www.vinabook.com/mat-troi-luc-nua-dem-1-p92078.html
                        " class="product-title" title="Mặt Trời Lúc Nửa Đêm" id="product-title" style="color:black;font-weight:500;">
                                            Bí Quyết Bấm Huyệt Chữa Bệnh (Bìa Cứng) (Tái Bản 2020)
                                        </a>
                                    </h6>
                                    <p class="card-text" id="product-title" style="color:gray;border-bottom: 1px solid;padding-bottom: 20px;font-size:13px">Katsusuke Serizawa</p>
                                    <p class="card-text" style="font-size:13px">
                                        Với sơ đồ thể hiện vị trí chính thức của 200 huyệt đạo trên cơ thể, cuốn sách...
                                    </p>
                                </div>
                                <div class="key-money">
                                    126.000 đ
                                </div>
                            </div>
                        </div>
                        <div id="col-content" class="col-md-4">
                            <div class="card" style="width:283px;height:218px">
                                <img class="card-img-top" src="~/picture/358730_song-gian-di-va-sau-lang.jpg" alt="Card image" style="width:92px;height:152px;margin-left: 5%;">
                                <div class="card-body">
                                    <h6 class="card-title">
                                        <a href=" https://www.vinabook.com/mat-troi-luc-nua-dem-1-p92078.html
                        " class="product-title" id="product-title" title="Mặt Trời Lúc Nửa Đêm" style="color:black;font-weight:500;">
                                            Sống Giản Dị Và Sâu Lắng
                                        </a>
                                    </h6>
                                    <p class="card-text" id="product-title" style="color:gray;border-bottom: 1px solid;padding-bottom: 20px;font-size:13px">Shauna Niequist</p>
                                </div>
                                <div class="key-money">
                                    96.000 đ
                                </div>
                            </div>
                        </div>
                        <div id="col-content" class="col-md-4">
                            <div class="card" style="width:283px;height:218px">
                                <img class="card-img-top" src="~/picture/358458_duong-may-tren-dat-hoa.jpg" alt="Card image" style="width:92px;height:152px;margin-left: 5%;">
                                <div class="card-body">
                                    <h6 class="card-title">
                                        <a href=" https://www.vinabook.com/mat-troi-luc-nua-dem-1-p92078.html
                        " class="product-title" id="product-title" title="Mặt Trời Lúc Nửa Đêm" style="color:black;font-weight:500;">
                                            Đường Mây Trên Đất Hoa
                                        </a>
                                    </h6>
                                    <p class="card-text" id="product-title" style="color:gray;border-bottom: 1px solid;padding-bottom: 20px;font-size:13px">Hòa thượng Hư Vân</p>
                                    <p class="card-text" style="font-size:13px">
                                        Phần lớn các thiền sư đều ra đi không để lại dấu vết, nếu có thì chỉ lưu lại...
                                    </p>
                                </div>
                                <div class="key-money">
                                    94.000 đ
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="mainbox-sachhay">
                <span style="font-size: 20px;font-weight: 500;position: absolute;top: -12%;">Sách Hay </span>
                <div class="mainbox-sachhay-content">
                    <img src="~/picture/362797_cach-bien-kha-nang-cua-ban-thanh-tien.jpg" style="width:210px;height:292px; margin-top: 3%;margin-left: 4%;box-shadow: 0px 0px 20px;" />
                    <div class="content-mainbox-sachhay">
                        <div class="noidung-sachhay">
                            <h5>Cách Biến Khả Năng Của Bạn Thành Tiền </h5>
                            <p style="border-bottom:1px solid white">Earl Prevette,A.B,LL.B</p>
                            <br />
                            <p style="border-bottom:1px dashed white;padding-bottom:3%">
                                Suy nghĩ tích cực sẽ giết chết kẻ thù lớn nhất của bạn - suy nghĩ tiêu cực - và trải thảm đỏ đón chờ người bạn thân của bạn - năng lực. Nói một cách khác, năng lực chính là những suy nghĩ tích cực mang lại điều bạn mong muốnĐể hô biến năng lực thành tiền, bạn cần phải tìm hiểu quy luật của sự giàu có. Khi bạn vận dụng nó đúng cách, những điều tốt đẹp sẽ đến với bạn
                            </p>
                            <br />

                            <span class="bill-sachhay"> 84.000 đ</span>
                            <button type="button" class="btn btn-danger" style="margin-top:-10%;margin-left: 45%;">Mua ngay</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainbox-sachkynang">
                <span style="font-size: 20px;font-weight: 500;position: absolute;top: -12%;">Sách Kỹ Năng</span>
                <div class="row">
                    <div id="col-content" class="col-md-4">
                        <div class="card" style="width:283px;height:218px">

                            <img class="card-img-top" src="~/picture/361272_nhung-don-tam-ly-trong-thuyet-phuc-tai-ban-2020.jpg" alt="Card image" style="width:92px;height:152px;margin-left: 5%;">
                            <div class="card-body">
                                <h6 class="card-title">
                                    <a href=" https://www.vinabook.com/mat-troi-luc-nua-dem-1-p92078.html
                        " class="product-title" title="Mặt Trời Lúc Nửa Đêm" id="product-title" style="color:black;font-weight:500;">
                                        Những Đòn Tâm Lý Trong Thuyết Phục (Tái Bản 2020)
                                    </a>
                                </h6>
                                <p class="card-text" id="product-title" style="color:gray;border-bottom: 1px solid;padding-bottom: 20px;font-size:13px">Robert B.Cialdini</p>
                                <p class="card-text" style="font-size:13px">
                                    Tại sao một số người lại có sức thuyết phục đến mê hoặc và luôn là người làm...
                                </p>
                            </div>
                            <div class="key-money">
                                135.000 đ
                            </div>
                        </div>
                    </div>
                    <div id="col-content" class="col-md-4">
                        <div class="card" style="width:283px;height:218px">
                            <img class="card-img-top" src="~/picture/361403_cam-nang-dinh-huong-dot-pha-hoc-tieng-anh.jpg" alt="Card image" style="width:92px;height:152px;margin-left: 5%;">
                            <div class="card-body">
                                <h6 class="card-title">
                                    <a href=" https://www.vinabook.com/mat-troi-luc-nua-dem-1-p92078.html
                        " class="product-title" id="product-title" title="Mặt Trời Lúc Nửa Đêm" style="color:black;font-weight:500;">
                                        Cẩm Nang Định Hướng Đột Phá Học Tiếng Anh
                                    </a>
                                </h6>
                                <p class="card-text" id="product-title" style="color:gray;border-bottom: 1px solid;padding-bottom: 20px;font-size:13px">Nhiều tác giả</p>
                                <p class="card-text" style="font-size:13px">
                                    Cuốn sách gồm tất cả các định hướng chiến lược cách học như thế nào,  kiến...
                                </p>
                            </div>
                            <div class="key-money">
                                170.000 đ
                            </div>
                        </div>
                    </div>
                    <div id="col-content" class="col-md-4">
                        <div class="card" style="width:283px;height:218px">
                            <img class="card-img-top" src="~/picture/362404_ban-cang-manh-me-the-gioi-cang-yeu-mem.jpg" alt="Card image" style="width:92px;height:152px;margin-left: 5%;">
                            <div class="card-body">
                                <h6 class="card-title">
                                    <a href=" https://www.vinabook.com/mat-troi-luc-nua-dem-1-p92078.html
                        " class="product-title" id="product-title" title="Mặt Trời Lúc Nửa Đêm" style="color:black;font-weight:500;">
                                        Bạn Càng Mạnh Mẽ, Thế Giới Càng Yếu Mềm
                                    </a>
                                </h6>
                                <p class="card-text" id="product-title" style="color:gray;border-bottom: 1px solid;padding-bottom: 20px;font-size:13px">Miên Miên</p>
                                <p class="card-text" style="font-size:13px">
                                    Cuộc đời mỗi người đều từng rơi vào hoàn cảnh lo lắng, bất an, thậm chí là sợ...
                                </p>
                            </div>
                            <div class="key-money">
                                93.000 đ
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 3%;">
                    <div id="col-content" class="col-md-4">
                        <div class="card" style="width:283px;height:218px">
                            <img class="card-img-top" src="~/picture/361634_vuot-qua-ban-nga.jpg" alt="Card image" style="width:92px;height:152px;margin-left: 5%;">
                            <div class="card-body">
                                <h6 class="card-title">
                                    <a href=" https://www.vinabook.com/mat-troi-luc-nua-dem-1-p92078.html
                        " class="product-title" title="Mặt Trời Lúc Nửa Đêm" id="product-title" style="color:black;font-weight:500;">
                                        Vượt Qua Bản Ngã

                                    </a>
                                </h6>
                                <p class="card-text" id="product-title" style="color:gray;border-bottom: 1px solid;padding-bottom: 20px;font-size:13px">Ryan Holiday</p>
                                <p class="card-text" style="font-size:13px">

                                    Đây là cuốn sách nói về kẻ thù lớn nhất cản trở chúng ta trên bước đường sự...

                                </p>
                            </div>
                            <div class="key-money">
                                127.000 đ
                            </div>
                        </div>
                    </div>
                    <div id="col-content" class="col-md-4">
                        <div class="card" style="width:283px;height:218px">
                            <img class="card-img-top" src="~/picture/361661_dung-de-cam-xuc-danh-lua-ly-tri.jpg" alt="Card image" style="width:92px;height:152px;margin-left: 5%;">
                            <div class="card-body">
                                <h6 class="card-title">
                                    <a href=" https://www.vinabook.com/mat-troi-luc-nua-dem-1-p92078.html
                        " class="product-title" id="product-title" title="Mặt Trời Lúc Nửa Đêm" style="color:black;font-weight:500;">
                                        Đừng Để Cảm Xúc Đánh Lừa Lý Trí
                                    </a>
                                </h6>
                                <p class="card-text" id="product-title" style="color:gray;border-bottom: 1px solid;padding-bottom: 20px;font-size:13px">Thái Vy</p>
                                <p class="card-text" style="font-size:13px">
                                    Voltaire đã từng nói thế này: “Tất cả lý trí của đàn ông không đáng giá bằng...
                                </p>
                            </div>
                            <div class="key-money">
                                96.000 đ
                            </div>
                        </div>
                    </div>
                    <div id="col-content" class="col-md-4">
                        <div class="card" style="width:283px;height:218px">
                            <img class="card-img-top" src="~/picture/362972_hoc-o-truong-hoc-o-sach-vo-hoc-lan-nhau-va-hoc-nhan-dan-tai-ban-2020.jpg" alt="Card image" style="width:92px;height:152px;margin-left: 5%;">
                            <div class="card-body">
                                <h6 class="card-title">
                                    <a href=" https://www.vinabook.com/mat-troi-luc-nua-dem-1-p92078.html
                        " class="product-title" id="product-title" title="Mặt Trời Lúc Nửa Đêm" style="color:black;font-weight:500;">
                                        Học Ở Trường, Học Ở Sách Vở, Học Lẫn Nhau Và Học Nhân Dân (Tái Bản 2020)
                                    </a>
                                </h6>
                                <p class="card-text" id="product-title" style="color:gray;border-bottom: 1px solid;padding-bottom: 20px;font-size:13px">Hồ Chí Minh</p>
                                <p class="card-text" style="font-size:13px">

                                    Bác Hồ cũng luôn quan tâm tới việc học tập của toàn dân. Người chỉ rõ: “Muốn...

                                </p>
                            </div>
                            <div class="key-money">
                                40.000 đ
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="d7">
        <div class="boxright">
            <div class="row">
                <div class="col-md-12">
                    <span>Sách Bạn Chạy Trong Tuần </span>
                </div>
            </div>
        </div>
    </div>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6> Giới Thiệu: </h6>
                    <p class="text-justify"> Trang web này chúng tôi cung cấp đủ các loại sách trong nước lẫn nước ngoài đến trang web chúng tôi bạn sẽ yên tâm về chất lượng và uy tín mọi thông tin về web tôi dưới</p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Phần Mềm Code: </h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/category/c-language/">C#</a></li>
                        <li><a href="http://scanfcode.com/category/front-end-development/">JQ</a></li>
                        <li><a href="http://scanfcode.com/category/back-end-development/">HTML</a></li>
                        <li><a href="http://scanfcode.com/category/java-programming-language/">CSS</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Người Thiết Kế</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/about/">Nguyễn Phúc Lộc</a></li>
                        <li><a href="http://scanfcode.com/contact/">Sơn Sẹn</a></li>
                        <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Trần Hoàng Thi Thi</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">
                        Copyright &copy; 2020 DESIGN BY
                        <a href="#">STL</a>.
                    </p>
                </div>

            </div>
        </div>
    </footer>

    <script src="~/Scripts/vinabook.js"></script>
    <link href="~/Scripts/Cssvinabookcss.css" rel="stylesheet" />
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

